.screenBlock {
  padding: 20px;
  position: absolute;
  overflow: hidden;
  border: 1px solid #f00;
  background-color: #fff !important;
}
.screenBlock iframe {
  width: 100%;
  height: 100%;
}
.resize {
  resize: both;
}
